:root {
    --background-color: #FFFFFF;
    --header-border: #C6C6C6;
    --border-color: #EDEDED;
}


body {
    margin: 0 auto;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    background-color: var(--background-color);
    max-width: 1000px;
    
}

/* font styling */

h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
}

p {
    font-size: 24px;
    font-weight: light;
    margin-top: 0px;
}

.username, .like-element {
    font-weight: bold;
}

/* header styling */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--header-border);
    margin: auto;
    padding: 10px;

    .user-avatar {
        border-radius: 50%;
        width: 90px;
        min-width: 90px;
        image-rendering: optimizeSpeed;
    }

}


header img {
    height: 90px;
    /* margin: 20px 40px; */
}

/* post section styling */
.user-posts-area {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    

    img {
        margin-right: 25px;
    }

    & :last-child {
        border: none;
    }
}
.user-info {
    display: flex;
    align-items: center;
    padding: 25px;
}

.user-avatar {
    border-radius: 50%;
    height: 90px;
}

.post {
    padding-bottom: 30px;
    border-bottom: 50px solid var(--border-color);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;


.post-image {
   width: 100%;
}
}
/* social buttons */

.social-btns-div {
    width: 33%; 
    margin: 30px 0 5px 10px;
    display: flex;
    justify-content: space-between;
}

.social-btns-div button {
    border: hidden;
    background-color: inherit;
    min-width: 75px;
}

.social-icons {
    width: 70%;
    
}

.social-icons:hover, .social-icons:focus    {
    opacity: .5;
}

.social-icons:active {
    width: 50%;
    
}

/* comment/likes styling */

.like-element  {
    margin: 10px 0 25px 25px;
}

.post-text {
    margin: 0 25px;
}

.liked {
    filter: opacity(.5) drop-shadow( 0px 0px 1px red) brightness(100%);
}